* {
	margin: 0;
	padding: 0;
}

.wrap {
	height: 6000px;
}

.nav {
	background-color: #2B2B2B;
	width: 100%;
	height:80px;
	overflow: hidden;
}

.nav-left {
	font-family: 'Pacifico', cursive;
    font-size: 34px !important;
    text-decoration: none;
    color: white !important;
    float: left;
    width: 30%;
    line-height: 80px;
    text-align: center;
}

li {
	list-style: none;
}

.nr-list {
	margin-left: 15px;
	float: left;
	line-height: 85px;
	color: white;
	font-weight: 700;
}

.nr-list:hover {
	color: #98FB98;
}

.nav-right {
	overflow: hidden;
	padding-left: 21.577777%;
	
}

.swiper-container {
    width: 100%;
    height:870px;
}  

.swiper-slide img {
	width: 100%;
	height: 100%;
}

.cc-left h1{
	margin: 0 auto;
	font-size: 42px;
    font-weight: 900;
    width: 320px;
    letter-spacing: 0.040em;
    border: 1px solid #2f2e2f;
    text-align: center;
}

.cc-left {
	margin-top: 50px;
	width: 50%;
	padding: 50px;
	float: left;
	box-sizing: border-box;
}

.desc-text {
	margin: 0 auto;
	width: 70%;
	font-size: 24px;
    line-height: 45px;
    text-align: justify;
    margin-top: 30px;
}

.c-center {
	overflow: hidden;
	
}

.cc-right {
	float: right;
	width: 50%;
	margin-top: 86px;
}

.ccr-img {
	min-width: 33%;
	max-width: 40%;
	width: 40%;
	height: 250px;
	float: left;
	margin-left: 15px;
	margin-top: 15px;
}

.ccr-img img {
	width: 100%;
	height: 100%;
}

.bitImg {
	margin-top: 80px;
	position: relative;
}

.bitImg img {
	
}

.price {
	font-size: 6.5em;
    position: absolute;
    top: 41%;
    width: 100%;
    color: white;
    padding: 0;
    border: 0;
    display: inline-block;
    text-align: center;
}

h1 span {
	color: white;
    padding: 0;
    border-bottom: 10px solid #fff;
}

.dinner {
	margin-top: 65px;
}

.dinner-list {
	display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
    overflow: hidden;
}

.dinner-list li {
	display: inline-block;
	color: black;
	font-weight: bold;
    width: auto;
    padding: 6px 10px;
    margin-right: 15px;
    font-size: 1.8em;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}

.dinner-list li:hover {
	color: rgb(129, 24, 24);
}

.di-img {
	max-width: 21%;
	width: 18%;
	display: inline-block;
	margin-left: 45px;
	margin-top: 30px;
}

.di-img img {
	width: 100%;
}

.dinner-img {
	margin-left: 100px;
}

.dinner-img h2 {
	height: 90px;
	width: 100%;
	margin: 0 auto;
	line-height: 80px;
	text-align: center;
	background-color: #EE2C2C;
	color: white;
	margin-top: -5px;
	font-size: 34px;
}

