.third {
	background-color:rgb(76,87,98);
}

.cm-table {
	display: none;
}

.or-rootManagement {
	float: left;
	width:1300px;
	margin-top: 20px;
	margin-left: 10px;
}

.or-xg-form {
	
}

.xgpwd {
	float: right;
	position: relative;
	top: 12px;
}

.xgpwd:hover {
	color: #0000FF;
}