.fifth {
	background-color:rgb(76,87,98);
}

.cm-table {
	display: none;
}

.cmt-sale {
	display: none;
	margin-top: 15px;
	background-color: #2C3238;
	border-bottom: solid 1px #2c3238;
	border-radius: 3px 3px 0px 0px;
	height: 50px;
	color: #9aa4a8;
    font-size: 14px;
    font-family: CorbelBold;
    text-shadow: 0px 1px 0px #1d2024;
    line-height: 50px;
}

.cm-vip {
	margin-top: 15px;
	background-color: #2C3238;
	border-bottom: solid 1px #2c3238;
	border-radius: 3px 3px 0px 0px;
	height: 50px;
	color: #9aa4a8;
    font-size: 14px;
    font-family: CorbelBold;
    text-shadow: 0px 1px 0px #1d2024;
    line-height: 50px;
}
